.scroll-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  flex-direction: column;
}

.snap-section {
  scroll-snap-align: start;
  margin-top: 5vh;
  box-sizing: border-box;
}

.snap-section#home {
  width: 100%;
  margin-top: 12vh;
  display: flex;
  justify-content: center;
}

.snap-section#projects {
  width: 100%;
  display: flex;
  justify-content: center;
}

.snap-section#skills {
  width: 100%;
  display: flex;
  justify-content: center;
}

.snap-section#education {
  width: 100%;
  display: flex;
  justify-content: center;
}
